<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NFE MM</title>
</head>
<body>
    <h1>Escolha o emitente</h1>

    <form action="/auth/insert" method="POST">
    <select name="emitente" id="emitente">
        <option value="ALEX SANDRO MELO DA SILVA">ALEX SANDRO MELO DA SILVA</option>
        <option value="G DA S CABRAL"> G DA S CABRAL</option>
        <option value="EVA TERESINHA"> EVA TERESINHA</option>
    </select>
    <button type="submit" value="Enviar" name="botao">Acessar</button>
</form>
</body>


</html>